h1 {
    color: #ffeecc;
    text-align: center;
		font-family: 'Amatic SC', cursive;
    font-size: 3em;
    margin-top: 5%; 
}

.mainTitle {
    font-size: 4em;
}

nav {
    background-color: #556B2F;
    font-family: 'Amatic SC', cursive;
    text-align: center;   
}

nav li {	
    font-size: 1.5em;
    padding-right: 15px;
}
section {
    margin-top: 0%;
}

section .title {
		font-size: 3em;
}
.title {
    font-family: 'Amatic SC', cursive;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 1%;
}